#v-wrapper {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 20px;
	padding: 20px 0;
}

.profile {
	display: grid;
	padding: 20px 10px;
}

#v-wrapper>div.profile.card>div.divider {
	width: 100%;
}

.stats {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.stats h3 {
	color: #221F28;
	font-weight: 800;
	font-family: "Circular-Book";
}

.profile .img {
	height: 70px;
	border-radius: 50%;
}

.profile span {
	text-align: center;
	font-size: 0.5rem;
	color: grey;
	text-transform: uppercase;
}

span .sm-text {
	margin-bottom: 0;
}

.questions {
	padding: 1.5rem;
	margin-bottom: 20px;
}

.questions h3 {
	color: #221F28;
	margin-bottom: 1rem;
}

.questions .divider {
	margin-left: 0;
	margin-top: 0.5rem;
}

.q-link h3 {
	font-family: 'Circular-Book';
	font-weight: 800;
	font-size: 0.7rem;
	text-transform: uppercase;
	text-decoration: underline;
	color: #00cea0;
}

.q-link:hover h3 {
	color: #F01D43;
}

.q-actions {
	display: block;
	margin: 20px 0;
	height: auto;
}

.q-actions img {
	height: 1rem;
	position: relative;
	top: 2px;
}

.q-actions span {
	margin-right: 1rem;
	font-family: 'Circular-Book';
	font-size: 0.8rem;
}

.q-actions span a {
	margin-right: 5px;
}

.q-actions span:nth-child(2) img,
.q-actions span:nth-child(3) img {
	position: relative;
	top: 2px;
}

.q-actions span:nth-child(4) img {
	position: relative;
	top: 4px;
}

.divider {
	margin-bottom: 0;
	margin-top: 0.5rem;
}

.username {
	color: inherit;
	font-family: 'Circular-Book';
	text-align: center;
	margin: 15px 0 5px;
}

.meta-wrapper {
	grid-template-rows: 1fr 9fr;
}

.list-items {
	text-decoration: none;
}

.list-items li {
	display: grid;
	grid-template-columns: 1fr 9fr;
	margin: 0.8rem 0;
}

.list-items span {
	font-family: 'Circular-Book';
	font-size: 0.8rem;
	position: relative;
	top: 5px;
	margin-left: 1.5rem;

}

.list-items img {
	height: 1.5rem;
}

div.content.card {
	padding: 2rem 1.5rem;
	margin-bottom: 20px;
}

.content .md-text {
	color: #221F28;
	font-size: 1.2rem;
}

.actions {
	/* width: 0%; */
	display: grid;
	grid-template-columns: 0.5fr 1fr 1fr;
	grid-gap: 10px;
	align-items: center;
}

.actions h3 {
	margin-bottom: 0;
}

.actions a {
	font-family: 'Circular-Book';
	font-size: 0.8rem;
	padding: 0.5rem 0.6rem;
	text-align: center;
	color: #fff;
	border-radius: 10px;
}

@media (max-width: 576px) {
	.q-actions {
		display: grid;
		grid-template-columns: 1fr;
		grid-row-gap: 3px;
	}

	#v-wrapper {
		grid-template-columns: 1fr;
	}

	#v-wrapper .divider {
		display: none;
	}

	.profile {
		padding: 20px 10px;
		height: auto;
		grid-template-columns: 1fr 2fr;
	}

	.stats {
		align-items: flex-end;
	}
}