.ptb-5 {
	padding: 50px 0;
}

.pall-1 {
	padding: 1rem;
}

.highlight {
	margin: 1rem 0;
	font-style: italic;
	font-family: 'Circular-Book';
	font-weight: 400;
}

.questions {
	padding: 1rem 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.questions .md-text {
	margin-bottom: 0 !important;
}

.header.questions a {
	padding: 0.8rem 1.2rem;
	margin-bottom: 0;
	font-size: 1rem;
	text-align: right;
}

.media {
	grid-template-columns: 1fr 1fr;
	display: grid;
}

.media div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: self-end;
}

#details {
	display: grid;
	grid-template-columns: 30% 67%;
	grid-gap: 3%;
}

.content {
	min-height: 30vh;
	padding: 2rem 1.5rem;
}

.content .md-text {
	color: #221F28;
	font-size: 1.2rem;
}

.list-items {
	text-decoration: none;
}

.list-items li {
	display: grid;
	grid-template-columns: 1fr 9fr;
	margin: 0.8rem 0;
}

.list-items span {
	font-family: 'Circular-Book';
	font-size: 0.8rem;
	position: relative;
	top: 5px;
	margin-left: 1.5rem;

}

.list-items img {
	height: 1.5rem;
}

.questions .img {
	height: 100px;
	border-radius: 50%;
}

.questions a>img {
	height: 1rem;
}

.questions span {
	font-weight: 600;
	font-family: "Circular-Book";
	color: grey;
	font-size: 0.7rem;
}

.questions textarea {
	border-radius: 0.25rem;
	resize: none;
	padding: 1rem;
	margin-bottom: 1rem;
}

.questions .btn {
	width: 30%;
}

.q-actions {
	display: flex;
	flex-direction: row;
	margin: 20px 0;
	height: auto;
}

.q-actions span {
	margin-right: 1rem;
}

.q-actions span a {
	margin-right: 5px;
}

.q-actions span:nth-child(2) img,
.q-actions span:nth-child(3) img {
	position: relative;
	top: 6px;
}

.title {
	color: #221F28;
}

.intro a {
	width: 30%;
}

.intro h3 {
	color: #221F28;
	margin-bottom: 1rem;
}

.comments {
	margin-bottom: 0.5rem;
}

.comments .md-text,
.comments .sm-text {
	margin-bottom: 0.1rem;
}

.comments p {
	font-weight: 600;
	font-family: "Circular-Book";
	color: inherit;
	font-size: 0.8rem;
}

.comments span {
	font-weight: 600;
	font-family: "Circular-Light";
	color: grey;
	font-size: 0.7rem;
}

a.sm-text {
	color: inherit;
	font-family: 'Circular-book';
	font-size: 0.6rem;
	letter-spacing: 0.89px;
	text-decoration: underline;
}

.btn {
	padding: 0.8rem 1rem;
	line-height: 9px;
	font-weight: 600;
	font-size: 1rem;
}

.sm-text.sm {
	font-size: 1rem !important;
}

.comments span {
	font-size: 0.8rem !important;
}

@media screen and (max-width: 480px) {
	.header.questions {
		grid-template-columns: 1fr 1fr;
	}

	.questions .md-text {
		font-size: 1.1rem !important;
	}

	.sm-text.sm {
		font-size: 0.8rem !important;
	}

	.comments span {
		font-size: 0.7rem !important;
	}

	a.sm-text {
		font-size: 0.7rem !important;
	}
}

@media screen and (min-width: 1680px) {
	.questions textarea {
		font-size: 1.3rem !important;
	}

	.questions a>img {
		height: 1.5rem;
	}

	.questions span {
		font-size: 1rem;
	}

	.sm-text.sm {
		font-size: 1rem !important;
	}

	.comments p {
		font-weight: 400;
	}

	.comments span {
		font-size: 0.8rem !important;
	}
}

.md-text {
	font-size: 1.5rem !important;
	margin-bottom: 2.5rem !important;
}

p.sm-text {
	font-size: 1.3rem !important;
}

.comments span {
	font-weight: 600;
	font-family: "Circular-Light";
	color: grey;
	font-size: 1rem;
}

.sm-text {
	font-size: 1.3rem !important;
}

.content.card span {
	font-size: 1rem !important;
}

@media (max-width: 576px) {
	.questions {
		grid-template-columns: 1fr;
	}

	.questions {
		padding: 1rem 1.3rem;
	}

	.content {
		min-height: 30vh;
		padding: 1.3rem 1rem;
	}

	.questions .img {
		height: 70px;
		border-radius: 50%;
	}

	.questions .btn {
		width: 50%;
	}

	.media div {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: self-end;
		margin-left: 0.3rem;
	}

	.questions .btn {
		width: 50%;
	}

	.intro a {
		width: 45%;
	}
}


@media (min-width: 576px) {
	.media div {
		display: grid;
		grid-template-columns: 1fr 1fr;
		/* align-items: self-end; */
		margin-left: 0.3rem;
	}

	.media {
		grid-template-columns: 1fr;
		grid-gap: 10px;
	}
}

@media screen and (max-width: 660px) {
	#details {
		grid-template-columns: 1fr;
		grid-gap: 0;
	}

	.side {
		margin-top: 0;
		margin-bottom: 0;
	}
}