@font-face {
	font-family: "Circular-Light";
	src:
		url("../fonts/Circular-Light.woff") format("woff");
}
@font-face {
	font-family: "Circular-Book";
	src:
		url("../fonts/Circular-Book.woff") format("woff");
}
@font-face {
	font-family: "Circular-Bold";
	src:
		url("../fonts/Circular-Bold.woff") format("woff");
}

* {
	font-family: 'Circular-Light';
}